.container_card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.card_vanilla{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  position: relative;
  width: 300px;
  height: 300px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background: rgba(225, 225, 225, 0.1);
  overflow: hidden;
  border-top: 1px solid rgba(225, 225, 225, 0.5);
  border-left: 1px solid rgba(225, 225, 225, 0.5);
  backdrop-filter: blur(5px);
}

.content_card{
  padding: 20px;
  text-align: center;
  transition: 0.5s;
  transform: translateY(100px);
  opacity: 0;
}

.card_vanilla:hover .content_card {
  transform: translateY(0px);
  opacity: 1;
}

.content_card h2 {
  position: absolute;
  top: -80px;
  right: 5px;
  font-size: 8em;
  color: rgba(225, 225, 225, 0.1);
  pointer-events: none;
}

.content_card h3 {
  font-size: 1.8em;
  color: white;
}

.content_card p {
  font-size: 1em;
  color: white;
  font-weight: 300;
}